.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    width: 800px;   /* Fixed width */
    height: 600px;  /* Fixed height */
    margin: auto;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

h1 {
    margin: 0px;
}

.help_home {
    border: 2px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 85px;
}
.help_symbol_home {
    text-align: center;
    width: 500px;
    height: auto;
    font-size: 250px;
}

.help {
    border: 2px solid black;
    width: 105px;
    height: 137px;
}
.help_symbol {
    width: 50px;
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 100px;
}

.upload {
    border: 2px solid black;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
}
.upload_img {
    width: 250px;
    height: auto;
}

input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.visible-input {
    position: static;
    width: 150px;
    height: 30px;
    overflow: visible;
    clip: auto;
    border: 1px solid black;
}

.videoplayer {
    width: 800px;
    height: auto;
}

.controls {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#currentTextOnScreen {
    width: 100%;
    height: 300px;
    resize: none; /* disable manual resizing */
}